body{
	font-family: 'Roboto', sans-serif;
}


.caja{
	background: #E9DBDB;
	width:180px;
	height: 220px;
	float: left;
	margin: 5px;
	text-align: center;
	padding: 20px;
	
}

h4{
	font-style: italic;
	color: #DBBB09;
}

span{
	color: #0F9D9B;
	font-size: 50px;

}


h1{
	color:#DBBB09;
}



p{

	color:#DBBB09;
	font-family: sans-serif;
	font-size: 15px;
}

.caja:hover h1{
	color: #0FBB37;
	transition: color 1s;

}


.caja:hover h4{
	transition: color 1s;

}

.caja:hover p{

	color:#0FBB37;
	transition: color 1s;

}

span:hover{

	font-size: 100px;
	color:#0FBB37;
	transition: 1s;
	
}


.caja:hover{
	height: 255px;
	width: 200px;
	transition: 1s;
	
}
 .caja:hover span{
	font-size:70px;
	color:#0FBB37;
	transition: font-size 1s, color 1s;
}